.favorites-container {
  width: 100%;
}

.favorites-header {
  display: block;
}
.favorites-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.favorites-card {
  margin-top: 10px;
  border: 2px solid $base-secondary;
}
.favorites-card-header {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.favorites-card-img {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 5px;
  img {
    width: 210px;
    height: 300px;
  }
}
