.favorites-container {
  width: 100%;
}

.favorites-header {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 600;
  display: block;
  text-align: center;
}
.favorites-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.favorites-card {
  background: $base-background-lighter;
  margin: 10px 5px;
  padding-top: 7px;
  @include border-radius(8px);
}

.favorites-card-header {
  display: block;
  font-size: 17px;
  font-weight: 550;
  padding: 0 5px;
  text-align: center;
}

.favorites-card-img {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 5px;
  img {
    width: 210px;
    height: 300px;
  }
}
