.navbar {
  margin: 0 !important;
  padding: 10px !important;
  width:100%;
  height: 80px !important;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;
  background-color: #000000;
  .container-fluid {
    width: 100%;
    display: flex;
    align-items: center;
    .navbar-header {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h1{
        display: inline-block;
        font-size: 45px;
      }
      a {
        color: $base-primary;
        &:hover{
          text-decoration: none;
          color: $base-secondary;
        }
      }
    }
    .navbar-list {
      width: 50%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      .navbar-item {
        border: 0;
        .navbar-button {
          margin: 0 5px;
          color: $base-primary;
          border-bottom: 1px solid $base-secondary;
          border-top: 1px solid $base-secondary;
          box-shadow: none;
          @include border-radius(0);
          font-size: 20px;
          background-color: #000000;
          &:hover {
            color: $base-secondary;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
