html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, form, label  {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

body {
  line-height: 1;
  font-family: Avenir, Helvetica, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $base-background;
  background: -webkit-linear-gradient($base-background, $base-primary); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($base-background, $base-primary); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($base-background, $base-primary); /* For Firefox 3.6 to 15 */
  background: linear-gradient($base-background, $base-primary); /* Standard syntax */
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}
