.search-container {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  .search {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 10px auto;
    width: 50%;
    .search-input {
      height: 28px;
      width: 85%;
      padding: 0 12px 0 20px;
      background: white;
      font-size: 14px;
      color: #000000;
      border-radius: 15px 0 0 15px;
      border: 2.5px solid;
      border-top-color: $base-primary;
      border-bottom-color: $base-primary;
      border-left-color: $base-primary;
      border-right: none;
      &:focus, &active {
        outline: none;
      }
    }
    .search-button {
      width: 15%;
      height: 28px;
      padding: 0 20px 0 12px;
      background: linear-gradient($search-btn, $base-background);
      border: 2.5px solid;
      border-radius: 0 15px 15px 0;
      border-top-color: $base-primary;
      border-bottom-color: $base-primary;
      border-right-color: $base-primary;
      border-left: none;
      font-size: 14px;
      font-weight: 500;
      &:focus, &:active {
        outline: none;
      }
      &:hover {
        background: linear-gradient($base-background, $search-btn);
      }
    }
    input:focus + button + .results {
      display: block;
    }
    .results {
      display: none;
      width: 100%;
      top: 30px;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 0;
      margin: 0;
      border: 1px solid #cbcfe2;
      border-radius: 3px;
      background-color: #fdfdfd;
      li {
        &:active {
          display: block;
        }
        display: block;
        &:first-child {
          margin-top: -1px;
        }
        &:last-child {
          margin-bottom: -1px;
        }
      }
      a {
        text-decoration: none;
        display: block;
        position: relative;
        margin: 0 -1px;
        padding: 6px 40px 6px 10px;
        color: #808394;
        font-weight: normal;
        border: 1px solid transparent;
        border-radius: 3px;
        span {
          font-weight: 400;
        }
        &:active {
          display: block;
        }
        &:hover {
          text-decoration: none;
          color: #fff;
          background-color: #d4d4d4;
          background-image: linear-gradient(top, #d4d4d4, #808080);
        }
      }
      &:active, &:focus {
        display: block;
      }
    }
    @include mobile {
      width: 100%;
    }
  }
}
