.titleBar-wrapper {
  background: $base-background;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  .favorite {
    font-size: 40px;
    .glyphicon:before {
      font-size: 40px;
      visibility: visible;
    }
    .glyphicon.glyphicon-star-empty:checked:before {
      font-size: 40px;
      content: "\e006";
      color: gold;
    }
    input[type=checkbox].glyphicon {
      visibility: hidden;
    }
  }
  .titleBar {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    .title-wrapper  {
      height: 100%;
      margin: 10px;
      width: 100%;
      text-align: center;
      .title-header {
        font-size: 30px;
      }
    }
    .subtext-wrapper {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .subtext-list {
        border: 2px solid $base-primary;
        background-color: $base-secondary;
        width: 100%;
        padding: 4px;
        display: flex;
        justify-content: center;
        @include border-radius(3px);
        .subtext-list-item {
          border: 1px solid $base-primary;
          padding: 4px;
          margin: 2px;
          display: flex;
          width:20%;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          @include border-radius(3px);
          span {
            text-align: center;
            font-size: 12px;
            @include mobile {
              font-size: 10px;
            }
          }
          .subtext-list-item-header {
            text-align: center;
            text-decoration: underline;
            width: 100%;
            font-size: 14px;
            @include mobile {
              font-size: 11px;
            }
          }
        }
      }
    }
    @include mobile {
      margin-bottom: 10%;
    }
  }
}
