$tablet-width: 768px;
$desktop-width: 1024px;

$base-primary: #FFB300;
$base-secondary: #FFF4AD;
$base-background: #808080;
$base-background-lighter: #DEDEDE;
$base-background-darker: #3B3B3B;
$base-dark: #6B6B6B;
$search-btn: #FFB300;
